<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="LoginForm" ng-submit="doLogin()">
        <div class="list" >
          <input type="text"  id ="email" placeholder="E-mail"  ng-model="loginData.email"
                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
          <br>
            <input type="password" id="password" placeholder="Password" ng-model="loginData.password" required>

          <div class="col text-center" id="submit">
            <button class="button button-block button-positive" type="submit" ng-disabled='LoginForm.$invalid'>


            Login
          </button>
            </div>
        </div>

    </form>
  </ion-content>
</ion-modal-view>
